{% extends base_template %}
{% load calctag %}
{% block simpletickets %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="main actions">
                    <a href="{% url 'ticketList' %}" role="button" class="btn btn-info" title="list">Tickets</a>
                    <a href="{% url 'newTicket' %}" role="button" class="btn btn-success" title="create">New ticket</a>
                </div>
            </div>
        </div>{# div .rov #}
        <div class="row">
            <div class="col-md-12">
                {% block tickets %}
                {% endblock tickets %}
            </div>
        </div>{# div .rov #}
        <div class="row">
            <div class="col-xl-4 col-md-6 col-xs-12">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Resolution times</h3>
                        </div>
                        <div class="panel-body">
                            <p>Fastest resolution time:</p>
                            <p>Usual resolution time</p>
                        </div>
                    </div>
                </div>
            </div>{# div .col-xl-4 col-md-6 col-xs-12 #}
            <div class="col-xl-4 col-md-6 col-xs-12">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tickets statistics</h3>
                        </div>{# div .panel-heading #}
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xl-6 col-md-6 col-xs-12"><p>Solved vs pending tickets </p></div>
                                <div class="col-xl-6 col-md-6 col-xs-12">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ objects.n_solved|porcent:objects.n_total }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 3em; width: {{ objects.n_solved|porcent:objects.n_total }}%">
                                        {{ objects.n_solved|porcent:objects.n_total }}%
                                        </div>
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ objects.n_open|porcent:objects.n_total }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 3em; width: {{ objects.n_open|porcent:objects.n_total }}%">
                                        {{ objects.n_open|porcent:objects.n_total }}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>{# div .panel-body #}
                    </div>
                </div>
            </div>{# div .col-xl-4 col-md-6 col-xs-12 #}
        </div>{# div .row #}
    </div>
{% endblock simpletickets %}
