{% extends 'simpletickets/tickets_base.html' %}
{% block tickets %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Ticket list</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead><tr><th>ticket</th><th>actions</th><th>state</th><th>severity</th><th>date</th><th>description</th></tr></thead>
                <tbody>
                {% for ticket in object_list %}
                        <tr class="{% ifequal ticket.state 1 %}danger{% endifequal %}{% ifequal ticket.state 2 %}warning{% endifequal %}{% ifequal ticket.state 3 %}success{% endifequal %}{% ifequal ticket.state 4 %}active{% endifequal %}">
                            <th>{{ ticket.ticket_number }}</th>
                            <th>
                                <div class="btn-group btn-group-xs" role="group" aria-label="ticket actions">
                                    {% if not request.user.is_staff %}
                                        {% ifequal ticket.state 1 %}
                                            <a href="{% url 'TicketDelete' ticket.id %}" role="button" class="btn btn-danger" title="delete">X</a>
                                        {% else %}
                                            <button disabled="disabled" type="button" class="btn btn-default">X</button>
                                        {% endifequal %}
                                    {% endif %}
                                    <a href="{% url 'TicketUpdate' ticket.id %}" role="button" class="btn btn-primary" title="modify">M</a>
                                </div>
                            </th>
                            <th>
                                {% if user.is_staff %}
                                    {{ ticket.staff }}
                                {% else %}
                                    {{ ticket.get_state_display }}
                                {% endif %}
                            </th>
                            <th>
                                {% ifequal ticket.severity 1 %}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{% endifequal %}
                                {% ifequal ticket.severity 2 %}<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>{% endifequal %}
                                {% ifequal ticket.severity 3 %}<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>{% endifequal %}
                                {% ifequal ticket.severity 4 %}<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>{% endifequal %}
                                {{ ticket.get_severity_display }}
                            </th>
                            <th>
                                {% if ticket.state > 2 %}
                                    delayed for {{ ticket.resolucion_delta }}
                                {% else %}
                                    {{ ticket.creation_date }}</th>
                                {% endif %}
                            <th>
                                {% if ticket.state > 2 %}
                                    {{ ticket.last_response.resolution_text }}
                                {% else %}
                                    {{ ticket.description }}</th>
                                {% endif %}
                            </th>
                        </tr>
                {% endfor %}
                {% if not request.user.is_staff %}
                <tr><th>new ticket</th><th><div class="btn-group btn-group-xs" role="group"><a href="{% url 'newTicket' %}" role="button" class="btn btn-success" title="create">+</a></div></th><th></th><th></th><th></th><th></th></tr>
                {% endif %}
                </tbody>
            </table>
            <div class="panel-footer">
                    <span>Leyend:</span>
                    <span class="text-danger">new</span> |
                    <span class="text-warning">asigned</span> |
                    <span class="text-success">solved</span> |
                    <span class="text-active">closed</span> |
                </div>
            </div>
        </div>
    </div>
{% endblock tickets %}
