{% extends 'index_lateral.html' %}
{% load bootstrap %}
{% block main_content %}
{% if validlink %}
<h3>Password change</h3>

<p>Please insert the password two times</p>
<form action="." method="POST">
    {% csrf_token %}
    {{ form|bootstrap }}
    Fields marked with * are mandatory.
    <input type="submit" value="Change" title="Change">
</form>
{% else %}
    <h3>Cambio de contraseña</h3>
    <p>The link you have used is invalid, please ask a new password or double check you are still invited into cabaana.</p>
{% endif %}
{% endblock %}
