{% extends 'index_lateral.html' %}
{% load bootstrap %}
{% block main_content %}
<h3>Change Password</h3>
{% if user.username %}
<p>Do you want to change your password? Insert your registered email address and we will send you instructions to change it.</p>
{% else %}
<p>Have you forgot your password? Insert your registered email address and we will send you instructions to change it.</p>
{% endif %}
<h3>Login</h3>
<p>Please insert log in credentials</p>
<form action="." method="POST">
    {% csrf_token %}
    {{ form|bootstrap }}
    Fields marked with * are mandatory.
    <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
</form>
{% endblock %}
